<div class="row">
    <div class="col-12">
        <img class="logo" src="/assets/images/burger.jpg" alt="burgerPic">
        <h1>Eat The Burger!</h1>
    </div>
</div>

<div class="row text-center">
    <div class="col-12">
        <form class="create-form">
            <div class="form-group text-center">
                <label for="burgerName">Enter a burger name you want to eat and click "Submit"</label>
                <input type="text" id="burgerName" class="form-control" placeholder="Ex. Quarter Pounder" required>
            </div>
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>
</div>

<br>

<div class="row">
    <div class="col-4">
        <div class="card" id="burgerList">
            <div class="card-header">Burger List</div>
            <div class="card-body">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burgerBlock devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4 float-center">
        <div class="card" id="devouredList">
            <div class="card-header">Devoured Burgers</div>
            <div class="card-body">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burgerBlock devoured=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>